@model IEnumerable<WebServicos.Domain.Servico>
@using WebServicos.Domain
@{
    Layout = null;
}

@if (Model != null)
{
    <nav aria-label="Page navigation example" id="pagination">
        <ul class="pagination justify-content-center">
            <li class="page-item @(ViewBag.CurrentPage == 0 ? "disabled" : "")">
                <a class="page-link" href="#pagination" tabindex="-1" onclick="report(@(ViewBag.CurrentPage - 1))">Anterior</a>
            </li>
            @for (int i = 0; i < ViewBag.Pages; i++)
            {
                <li class="page-item @(ViewBag.CurrentPage == i ? "disabled" : "")"><a class="page-link" onclick="report(@i)" href="#pagination">@(i+1)</a></li>
            }
            <li class="page-item @(ViewBag.CurrentPage + 1 == ViewBag.Pages ? "disabled" : "")">
                <a class="page-link" href="#pagination" onclick="report(@(ViewBag.CurrentPage + 1))">Próximo</a>
            </li>
        </ul>
    </nav>
    <table class="table table-striped">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Cliente.Nome)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Cliente.Bairro)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Cliente.Cidade)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Cliente.Estado)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.TipoServico)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Data)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">
                    @Html.DisplayFor(modelItem => item.Cliente.Nome)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Bairro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Cidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoServico)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
            </tr>
        }
    </table>
}