@model IEnumerable<WebServicos.Models.Servico>
@using System.Globalization
@{
    ViewBag.Title = "Estatísticas";
}

<h2 class="mt-4">Estatísticas</h2>
<h3 class="mt-4 mb-4">Top Vendedores</h3>
<table class="table">
    <tr>
        <th scope="col">
            Mês
        </th>
        <th scope="col">
            Cliente
        </th>
        <th scope="col">
            Valor total
        </th>
        @for (int i = 1; i <= 12; i++)
        {
            bool firstMonth = true;
            var topVendedores = Model.Where(x => x.Data.Month == i && x.Data.Year == DateTime.Now.Year).GroupBy(x => x.Cliente_ID).Select(y =>
            new WebServicos.Models.Servico { Cliente = y.First().Cliente, Data = y.First().Data, Valor = y.Sum(s => s.Valor) }
            ).Take(3);
            foreach (var item in topVendedores)
            {
            <tr>
                @if (firstMonth)
                {
                    firstMonth = false;
                    <td rowspan="@topVendedores.Count())">@Model.Where(x => x.Data.Month == i && x.Data.Year == DateTime.Now.Year).FirstOrDefault().Data.ToString("MMMM")</td>
                }
                <td>@item.Cliente.Nome</td>
                <td>@item.Valor.ToString("C")</td>
            </tr>
        }
        if (topVendedores.Count() == 0)
        {
            CultureInfo cinfo = CultureInfo.CreateSpecificCulture("pt-BR");
            <tr>
                <td>@cinfo.DateTimeFormat.GetMonthName(i)</td>
                <td>SEM CLIENTES</td>
                <td></td>
            </tr>
        }
    }
    </table>

    @{
        var fornecedores = new WebServicos.Models.ServicosContext().Fornecedor.ToList();
    }
    <h3 class="mt-4 mb-4">Fornecedores sem compra</h3>
    <table class="table">
        <tr>
            <th scope="col">
                Mês
            </th>
            <th scope="col">
                Fornecedor
            </th>
            @for (int i = 1; i <= 12; i++)
            {
                bool firstMonth = true;
                var fornecedoresMes = fornecedores.Where(s => !Model.Where(y => y.Data.Month == i && y.Data.Year == DateTime.Now.Year).Any(x => x.Fornecedor_ID == s.Id));
                foreach (var item in fornecedoresMes)
                {
                <tr>
                    @if (firstMonth)
                    {
                        firstMonth = false;
                        CultureInfo cinfo = CultureInfo.CreateSpecificCulture("pt-BR");
                        <td rowspan="@(fornecedoresMes.Count())"> @cinfo.DateTimeFormat.GetMonthName(i) </td>
                    }
                    <td> @item.Nome</td>
                </tr>
            }

        }
        </table>

        <h3 class="mt-4 mb-4">Média por Fornecedor e Tipo de Serviço</h3>
        <table class="table">
            <tr>
                <th scope="col">
                    Fornecedor
                </th>
                <th scope="col">
                    Tipo Serviço
                </th>
                <th scope="col">
                    Valor
                </th>
                @foreach (var item in Model.GroupBy(x => new { x.Fornecedor_ID, x.TipoServico }).Select(y =>
                    new WebServicos.Models.Servico
                    {
                        Fornecedor = y.First().Fornecedor,
                        Fornecedor_ID = y.First().Fornecedor_ID,
                        TipoServico = y.First().TipoServico,
                        Valor = y.Average(s => s.Valor)
                    }
                    ))
                {
                <tr>
                    <td>@item.Fornecedor.Nome</td>
                    <td>@item.TipoServico</td>
                    <td>@item.Valor.ToString("C")</td>
                </tr>
            }
            </table>